In [16]:
import pandas as pd
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR'},
                     {'Name':'Sally','Role':'Course liasion'},
                      {'Name':'James','Role':'Grader'}])
staff_df=staff_df.set_index('Name')
student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                        {'Name':'Mike','School':'Law'},
                        {'Name':'Sally','School':'Engineering'}])
student_df=student_df.set_index('Name')
staff_df.head()

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [17]:
student_df.head()

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [18]:
pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [19]:
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [20]:
pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [21]:
pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [23]:
staff_df=staff_df.reset_index()
student_df=student_df.reset_index()
pd.merge(staff_df,student_df,how='left',left_on='Name',right_on='Name')

   index_x   Name            Role  index_y       School
0        0  Kelly  Director of HR      NaN          NaN
1        1  Sally  Course liasion      2.0  Engineering
2        2  James          Grader      0.0     Business

In [ ]:
staff_df=pd.DataFrame([{'Name':'Kelly','Role':'Director of HR','Address':'Vijayawada'},
                     {'Name':'Sally','Role':'Course liasion','Address':'Narsapur'},
                      {'Name':'James','Role':'Grader','Address':'Machilipatnam'}])
staff_df=staff_df.set_index('Name')
student_df=pd.DataFrame([{'Name':'James','School':'Business'},
                        {'Name':'Mike','School':'Law'},
                        {'Name':'Sally','School':'Engineering'}])
student_df=student_df.set_index('Name')
staff_df.head()