In [1]:
###list
a=list()
type(a)

list

In [2]:
a=[]
type(a)

list

In [9]:
a=[1,2,4]
len(a)

3

In [6]:
a.append(2)
a

[1, 2]

In [8]:
a.append(0)
a

[1, 2, 0, 0]

In [12]:
b=['chelli','nenu']
a.append(b)
a

[1, 2, 4, ['chelli', 'nenu'], ['chelli', 'nenu']]

In [1]:
a[3]

NameError: name 'a' is not defined

In [2]:
a[3]

NameError: name 'a' is not defined

In [4]:
x=[1,2,3,4]
y=['sai','chinnu']
x.append(y)
x

[1, 2, 3, 4, ['sai', 'chinnu']]

In [5]:
x[3]

4

In [6]:
x[1]='a'
x

[1, 'a', 3, 4, ['sai', 'chinnu']]

In [23]:
x[4][1]

'chinnu'

In [15]:
s=[1,2,3]
t=[4,5,6]
s.extend(t)
s

[1, 2, 3, 4, 5, 6]

In [17]:
q=[10,20,30]
for each_item in q:
    print(each_item)

10
20
30

In [18]:
students=[['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]
for each_item in students:
    print(each_item)

['sai', 10, 20, 30]
['lakshmi', 30, 40, 60]
['raju', 30, 40, 60]

In [20]:
w=[]
w.extend(students)
w

[['sai', 10, 20, 30], ['lakshmi', 30, 40, 60], ['raju', 30, 40, 60]]

In [21]:
w[0]

['sai', 10, 20, 30]

In [26]:
x=w[0][1]+w[0][2]+w[0][3]
x

60

In [12]:
#students=[['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]
#y=students[1][1]+students[1][2]+students[1][3]
#print(y)
#x=students[0][1]+students[0][2]+students[0][3]
#print(x)
#z=students[2][1]+students[2][2]+students[2][3]
#print(z)
x=int(input())
y=int(input())
z=int(input())
if((x>y)and(x>z)):
    print(students[0][0])
elif((y>z)and(y>x)):
    print(students[1][0])
elif((z>x)and(z>y)):
    print(students[2][0])
else
if(x==y):
    print(students[0][0],students[1][0])
elif(y==z):
    print(students[1][0],students[2][0])
elif(z==x):
    print(students[0][0],students[2][0])

2
2
3
raju

In [6]:
high=0
for student in students:
    name=student[0]
    marks=student[1]+student[2]+student[3]
    if high<marks:
        high=marks
for student in students:
    name=student[0]
    marks=student[1]+student[2]+student[3]
    if high==marks:
        print(name)

lakshmi
raju

In [13]:
e=[1,2,3]
e.count(2)

1

In [14]:
[1,[2,23,],3].count(2)

0

In [16]:
dir(e)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [34]:
e.clear()
e=[1,2,3,4,5]
r=e.copy()
r

[1, 2, 3, 4, 5]

In [35]:
e.append(6)
e,r

([1, 2, 3, 4, 5, 6], [1, 2, 3, 4, 5])

In [40]:
r=[1,2,3,4]
r.index(1)

0

In [42]:
##insert(first=position,second=value)
r=[1,2,3,4]
r.insert(1,0)
r

[1, 0, 2, 3, 4]

In [43]:

r=[1,2,3,4]
r.insert(1000,5)
r

[1, 2, 3, 4, 5]

In [45]:
##pop(index)
r=[1,2,3,4]
r.pop(0)
r

[2, 3, 4]

In [46]:
r=[1,2,3,4]
r.pop(67)
r

IndexError: pop index out of range

In [47]:
r.pop()

4

In [48]:
r

[1, 2, 3]

In [50]:
##remove
r=[1,2,3,4]
r.remove(2)
r

[1, 3, 4]

In [51]:
#reverse
r=[1,2,3,4]
r.reverse()
r

[4, 3, 2, 1]

In [53]:
#sort()
r=[4,2,3,3]
r.sort()
r

[2, 3, 3, 4]

In [56]:

r=[4,2,3,3]
r.sort(reverse=1)
r

[4, 3, 3, 2]

In [57]:
len(r),min(r),max(r)

(4, 2, 4)

In [58]:
r[0:3]

[4, 3, 3]

In [59]:
r[::]

[4, 3, 3, 2]

In [60]:
r[::2]

[4, 3]

In [62]:
r[1::-1]

[3, 4]

In [63]:
s=[[1,30,40],[3,40,100],[2,50,10]]

In [83]:
 #tuple
a=(1,2,3,6,7)
#count
a.count(2)
#index
a.index(2)

1

In [87]:
data='sairam123'
result={}
for character in data:
    if character.isaplha():
        result['alpha']=result.get('alpha',0)+1
    
     if character.isaplha():
        result['digits']=result.get('digits',0)+1
print(result)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)