# list copmrehension

In [2]:
for i in range[1,101]:
    if(i%3==0):
        print(i)

TypeError: 'type' object is not subscriptable

In [3]:
[1 for each in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
[each for each in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
[each*each for each in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
[each for each in range(11) if each%2!=0]

[1, 3, 5, 7, 9]

In [11]:
students=[['sai',70],['ram',30],['lakshmi',60]]
[students for students in students if students[1]>=60]

[['sai', 70], ['lakshmi', 60]]

In [13]:
students=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[students for students in students if (students[1]>=60)and(students[2]<2)]

[['sai', 70, 1]]

In [2]:
###x**2+y**2=z**2
[(x,y,z) for x in range(1,30) for y in range(1,30) for z in range(1,30) if((x**2)+(y**2)==(z**2))]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (15, 8, 17),
 (15, 20, 25),
 (16, 12, 20),
 (20, 15, 25),
 (20, 21, 29),
 (21, 20, 29),
 (24, 7, 25),
 (24, 10, 26)]

# dictionary comprehension

In [3]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
{each:each*each for each in range(1,11) if(each%2==0)}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [7]:
{each:each*each if each%2==0 else  each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [22]:
names=['sai','ramu']
grades=['A','B']
student={}
for i in range(len(names)):
    name=names[i]
    grade=grades[i]
    student[name]=grade
print(student)

{'sai': 'A', 'ramu': 'B'}

In [23]:
names=['sai','ramu','ammi']
grades=['A','B','ammi']
for name,grade in zip(names,grades):
    print(name,grade)

sai A
ramu B
ammi ammi

In [36]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
removeIndex=2
for student in students:
    #['sai',30,40]
students.sort()
for student in students:
    #[30,'sai',40]
    student

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

# LAMBDA  FUNCTION

##single line function

In [38]:
square=lambda x:x*x

In [39]:
square(2)

4

In [40]:
fun=lambda x,y:(x,y)

In [41]:
fun(10,11)

(10, 11)

In [42]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[2])
students

[['lakshmi', 100, 30], ['sai', 30, 40], ['ram', 50, 60]]

In [43]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[1]+x[2])
students

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [44]:
numbers=['10','30','60']
result

NameError: name 'result' is not defined

# map(function,collection)

In [45]:
numbers=['10','30','60']
s=map(int,numbers)
list(s)

[10, 30, 60]

In [46]:
marks=['10','30','60']
list(map(lambda x:int(x)+30,marks))

[40, 60, 90]

In [47]:
marks=[10,20,30,40,0,100]
all(marks)

False

In [48]:
any(marks)

True

In [50]:
marks=[10,20,30,40,0,100]
s=filter(None,marks)
list(s)

[10, 20, 30, 40, 100]

In [52]:
students=[['sai',10],['sunny',30],['ramu',50]]
s=filter(lambda x:int(x[1])<=30,students)
list(s)

[['sai', 10], ['sunny', 30]]

In [55]:
students=[
    ['sai',{'maths':30,'english':50}],
     ['roja',{'maths':50,'english':40}],
     ['ram',{'maths':60,'english':70}],
]
students.sort(key=lambda  x:x[1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['roja', {'maths': 50, 'english': 40}],
 ['ram', {'maths': 60, 'english': 70}]]

In [1]:
import mymodule